body {
    background-image: url("images/concrete_seamless.png");
}

.name {
    background: #4aaaa5;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #ffffff!important;
}

.back {
    background: #ffffff;
}

nav a {
    text-align: center;
}

.pageHead {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #4aaaa5;
}

.myPic {
    margin: 2rem 0 1rem 2rem;
}

.main {
    padding: 0 2rem;
    border: 2px solid #cccccc;
}

.navbar {
    padding: 0;
}

.botBorder {
    border-bottom: 2px solid #cccccc;
}

.topMarg {
    margin-top: 3rem;
}

.smTopMarg {
    margin-top: 1rem;
}

.botMarg {
    margin-bottom: 3rem;
}

.botPad {
    padding-bottom: 2rem;
}

.foot {
    background: #4aaaa5;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    z-index: 1;
    background: #555;
}

.portPic {
    margin: 2rem 1rem;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    background: #4aaaa5;
    color: #ffffff;
    padding-top: 1rem;
}

.projLinks {
    text-decoration: none;
    color: #ffffff!important;
}